@import "tailwindcss";

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f9fafb;
  color: #111827;
  font-family: 'Segoe UI', 'Roboto', system-ui, sans-serif;
  line-height: 1.6;
}
